<div class="card">
  <table>
    <tbody>
      <tr>
        <% if @page_type == 'incomes' %>
        <td>
          <%= link_to '< 前月', incomes_show_path(targetDate: (@p_targetDate - 1.months).strftime('%Y-%m-%D')) %>
        </td>
        <td>
          <%= link_to '翌月 >', incomes_show_path(targetDate: (@p_targetDate + 1.months).strftime('%Y-%m-%D')) %>
        </td>
        <% elsif @page_type == 'spends' %>
        <td>
          <%= link_to '< 前月', spends_show_path(targetDate: (@p_targetDate - 1.months).strftime('%Y-%m-%D')) %>
        </td>
        <td>
          <%= link_to '翌月 >', spends_show_path(targetDate: (@p_targetDate + 1.months).strftime('%Y-%m-%D')) %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
