<div class="card">
  <table style="width: 100%;">
    <tbody>
      <tr>
        <% if @page_type == 'incomes' %>
        <td class="detail-pager-prev">
          <%= link_to '< 前月', incomes_index_path(:year => (@p_targetDate - 1.months).year, :month => (@p_targetDate - 1.months).month) %>
        </td>
        <td class="detail-pager-next">
          <%= link_to '翌月 >', incomes_index_path(:year => (@p_targetDate + 1.months).year, :month => (@p_targetDate + 1.months).month) %>
        </td>
        <% elsif @page_type == 'spends' %>
        <td class="detail-pager-prev">
          <%= link_to '< 前月', spends_index_path(:year => (@p_targetDate - 1.months).year, :month => (@p_targetDate - 1.months).month) %>
        </td>
        <td class="detail-pager-next">
          <%= link_to '翌月 >', spends_index_path(:year => (@p_targetDate + 1.months).year, :month => (@p_targetDate + 1.months).month) %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
