$font-size-base: 36px; //14px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px
body {
  font-size: $font-size-base;
};
